@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: open-sans, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1,
h2 {
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #1a891a;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

#menu {
    font-size: 130%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#dahlak-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}


#dahlak-image {
    height: 500px;
    width: 100%;
    background: url('../images/dahlak-image.jpg') no-repeat center center;
}

#cover-text {

    color: green;
    font-size: 200%;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 400px;
    height: 200px;

    padding-top: 50px;
    padding-left: 10px;

    bottom: 5px;
    right: 150px;
    position: absolute;
}

#forecast {
    height: 500px;
}

#left-about {
    padding-top: 50px;
    width: 45%;
    float: left;
}

#right-about {
    padding: 50px;
    width: 45%;
    float: right;
}

hr {

    margin: 5px 0;
}

.left-about-heading {
    width: 40%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 40%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 59px;
}

#welcome {
    margin: 41px 0;
    font-size: 175%;
    text-align: center;
}

 
iframe {
    width: 100%;
    height: 200px;
    font-size: 5%;
}

#high-light {
    height: 200px;
    width: 100%;
    background-color: aqua;
}

#high-light div {

    width: 25%;
    height: 200px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    font-size: 75%;
}

#high-light > *
 h2{
    padding: 20px;
    background: #ffffffba;
    width: fit-content;
    margin: 10px auto;
    color: black;
}

#beach {

    background-image: url('../images/clean-beach.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

#history {
    background-image: url('../images/old-palace.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#cuisine {
    background-image: url('../images/cuisine.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#artdecor {
    background-image: url('../images/asmara-teater.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer {
    height: 150px;
}

.social-networks {
    text-align: center;

}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

#form {
    clear: both;
    height: 500px;
    background-color: rgb(10 9 66 / 8%);

}

.comment-form {
    font-size: large;
    position: absolute;
    left: 20%;
    padding: 30px;
    border: 1px #3a3a3a solid;
    width: 50%;
    height: 430px;

}



.comment-form h2 {
    margin: 5px 0 20px;
}

.text-input {

    width: 60%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #3a3a3a;
    border-radius: 2px;
}

.textarea {
    width: 100%;
    height: 100px;
    margin: 5px 0 20px;
    border: 1px solid #3a3a3a;
    border-radius: 2px;
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #1a5589;
    color: #fafafa;
    display: block;
}

@media screen and (max-width: 1200px) {
    #forecast {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin-top: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }



    #high-light div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }
}

@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 15px;
        margin-bottom: 15px;
        line-height: 15px;
    }

    #cover-text {
        left: 5px;
    }

    #forecast {
        width: 90%;
        height: 500px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading {
        width: inherit;
    }


    #photos {
        column-count: 2;
    }
}

@media screen and (max-width: 800px) {
    #photos {
        column-count: 1;
    }
}